@use "functions" as *;
@use "reset";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #eff4f3;
  font-family:
    "Noto Sans JP",
    system-ui,
    -apple-system,
    blinkmacsystemfont,
    "Segoe UI",
    sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

.dropshadow {
  filter: drop-shadow(7px 12px 20px rgba(0, 0, 0, 0.1));
}

.lp {
  position: relative;
  width: 780px;
  margin-inline: auto;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 32px rgba(0, 63, 59, 0.08);

  @media (max-width: 780px) {
    width: 100%;
  }
}

.kv {
  position: relative;
  height: 1200px;
  overflow: hidden;
  background:
    linear-gradient(180deg, rgba(255, 255, 255, 0) 0 81.5%, #eef9f8 81.5% 100%),
    linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.98) 0 45%,
      rgba(255, 255, 255, 0.4) 74%,
      rgba(255, 255, 255, 0.1) 100%
    ),
    #fff;

  &::before {
    position: absolute;
    right: 0;
    bottom: 105px;
    left: 0;
    height: 120px;
    content: "";
    background: #eef9f8;
    border-radius: 100% 100% 0 0 / 80% 80% 0 0;
  }

  .kv__logo {
    position: absolute;
    top: 28px;
    left: 28px;
    z-index: 3;
    width: 142px;
    height: auto;
  }

  .kv__balloons {
    position: absolute;
    top: 40px;
    right: 12px;
    z-index: 4;
    display: grid;
    grid-template-columns: 181px 181px 181px;
    gap: 12px;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      display: grid;
      height: 115px;
      place-items: center;
      color: #fff;
      background: #008684;
      border-radius: 20px;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.45;
      text-align: center;

      span {
        font-size: 16px;
        display: contents;
        color: #fff;
      }

      &:nth-child(2) {
        background: #33b5ad;
      }

      &:nth-child(3) {
        background: #66c7c2;
      }

      &::after {
        position: absolute;
        bottom: -18px;
        left: 50%;
        width: 0;
        height: 0;
        content: "";
        border-top: 22px solid #098f8b;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        transform: translateX(-50%);
      }

      &:nth-child(2)::after {
        border-top-color: #33b5ad;
      }

      &:nth-child(3)::after {
        border-top-color: #66c7c2;
      }
    }
  }

  .kv__doctor {
    position: absolute;
    right: 0;
    bottom: 166px;
    z-index: 1;
    width: 760px;
    height: auto;
  }

  .kv__copy {
    position: absolute;
    top: 196px;
    left: 60px;
    z-index: 3;
    display: grid;
    gap: 28px;

    p {
      margin: 0;
    }
  }

  .kv__main {
    background: linear-gradient(90deg, #00c2b7 0%, #008886 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1;

    span {
      color: #000;
      font-size: 64px;
    }
  }

  .kv__ribbon {
    position: relative;
    left: -60px;
    display: inline-block;
    width: 435px;
    padding: 5px 18px 8px 80px;
    color: #fff;
    background: linear-gradient(90deg, #00c2b7 0%, #008886 100%);
    border-radius: 0 100px 100px 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.25;
  }

  .kv__line {
    color: #000;
    font-size: 56px;
    font-weight: 600;
    line-height: 1;
    position: relative;

    .kv__heart {
      position: absolute;
      top: -4px;
      right: 30px;
      width: 70px;
      height: auto;
    }

    &--accent {
      background: linear-gradient(90deg, #00c2b7 0%, #008886 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: 80px;
      position: relative;
      top: -14px;

      span {
        color: #000;
        font-size: 56px;
      }
    }
  }

  .kv__record {
    position: absolute;
    top: 613px;
    left: 48px;
    z-index: 4;
    width: 305px;
    height: auto;
  }

  .kv__consult {
    position: absolute;
    right: 0;
    bottom: 183px;
    left: 0;
    margin: auto;
    z-index: 5;
    text-align: center;
    width: fit-content;
  }

  .kv__note {
    position: absolute;
    right: 0;
    bottom: 126px;
    left: 0;
    z-index: 5;
    margin: 0;
    color: #747474;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
  }

  @media (max-width: 780px) {
    height: vw(1200);

    &::before {
      bottom: vw(105);
      height: vw(120);
    }

    .kv__logo {
      top: vw(28);
      left: vw(28);
      width: vw(142);
    }

    .kv__balloons {
      top: vw(40);
      right: vw(12);
      grid-template-columns: repeat(3, vw(181));
      gap: vw(12);

      li {
        height: vw(115);
        border-radius: vw(20);
        font-size: vw(22);

        span {
          font-size: vw(16);
        }

        &::after {
          bottom: vw(-18);
          border-top-width: vw(22);
          border-right-width: vw(10);
          border-left-width: vw(10);
        }
      }
    }

    .kv__doctor {
      bottom: vw(166);
      width: vw(760);
    }

    .kv__copy {
      top: vw(196);
      left: vw(60);
      gap: vw(28);
    }

    .kv__main {
      font-size: vw(80);

      span {
        font-size: vw(64);
      }
    }

    .kv__ribbon {
      left: vw(-60);
      width: vw(435);
      padding: vw(5) vw(18) vw(8) vw(80);
      border-radius: 0 vw(100) vw(100) 0;
      font-size: vw(40);
    }

    .kv__line {
      font-size: vw(56);

      .kv__heart {
        top: vw(-4);
        right: vw(30);
        width: vw(70);
      }

      &--accent {
        font-size: vw(80);
        top: vw(-14);

        span {
          font-size: vw(56);
        }
      }
    }

    .kv__record {
      top: vw(613);
      left: vw(48);
      width: vw(305);
    }

    .kv__consult {
      bottom: vw(183);
    }

    .kv__note {
      bottom: vw(126);
      font-size: vw(16);
    }
  }
}

.contact-cta {
  position: relative;
  height: 750px;
  padding-top: 8px;
  background: #eef9f8;
  &.bgnon {
    background: unset;
  }

  .contact-cta__next {
    position: absolute;
    right: 0;
    top: -118px;
    left: 0;
    z-index: 5;
    margin: 0;
    padding: 57px 0 0;
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;

    &::before,
    &::after {
      display: inline-block;
      width: 2px;
      height: 34px;
      margin: 0 16px -9px;
      content: "";
      background: #000;
    }

    &::before {
      transform: rotate(-28deg);
    }

    &::after {
      transform: rotate(28deg);
    }

    span {
      color: #f6691a;
      font-size: 32px;
      font-weight: 700;
    }
  }

  .contact-cta__web {
    position: relative;
    display: grid;
    grid-template-columns: 126px 1fr 38px;
    align-items: center;
    width: 620px;
    height: 176px;
    margin: 0 auto;
    padding: 0 35px 7px 22px;
    color: #fff;
    background: linear-gradient(90deg, #ffa827 0%, #ff571f 100%);
    border-radius: 92px;
    box-shadow:
      0 8px 0 #d24c00,
      0 8px 15px rgba(0, 0, 0, 0.22);
    text-decoration: none;
    transition:
      transform 0.5s ease,
      box-shadow 0.5s ease;

    &:hover,
    &:active {
      transform: translateY(8px);
      box-shadow:
        0 0 0 #d24c00,
        0 2px 8px rgba(0, 0, 0, 0.18);
    }

    span {
      display: grid;
      width: 122px;
      height: 122px;
      place-items: center;
      color: #f6691a;
      background: #ffeb55;
      border-radius: 50%;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.15;
      text-align: center;
    }

    strong {
      padding-left: 24px;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.2;
      letter-spacing: 0;
      color: #fff;
    }

    i {
      width: 27px;
      height: 27px;
      border-top: 4px solid #fff;
      border-right: 4px solid #fff;
      transform: rotate(45deg);
    }
  }

  .contact-cta__phone {
    position: relative;
    width: 620px;
    min-height: 362px;
    margin: 88px auto 0;
    padding: 72px 38px 40px;
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.13);
  }

  .contact-cta__label {
    position: absolute;
    top: -36px;
    left: 35px;
    display: grid;
    width: 550px;
    height: 70px;
    place-items: center;
    margin: 0;
    color: #fff;
    background: #00a299;
    border-radius: 35px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    span {
      color: #ffeb55;
      display: contents;
    }
  }

  .contact-cta__tel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #00a299;
    line-height: 1;
    text-decoration: none;
    opacity: 1;
    transition: 0.5s ease;
    &:hover,
    &:active {
      opacity: 0.6;
    }

    strong {
      font-size: 64px;
      font-weight: 600;
      letter-spacing: 0;
      color: #00a299;
      font-family: "avenir-lt-pro", sans-serif;
    }
  }

  .contact-cta__hint {
    margin: 5px 0 0;
    text-align: right;
    color: #747474;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
  }

  .contact-cta__hours {
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    margin-top: 36px;

    dt {
      padding: 28px;
      margin: 0;
      color: #008684;
      background: #e5f6f5;
      border-radius: 10px;
      font-size: 24px;
      font-weight: 600;
    }

    dd {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.2;
      .flex {
        display: flex;
        flex-direction: column;
        .r1 {
          font-size: 28px;
          font-weight: 600;
          text-align: center;
        }
        .r2 {
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          text-align: center;
        }
        .time {
          font-size: 32px;
          font-style: normal;
          font-weight: 500;
        }
      }
    }
  }

  @media (max-width: 780px) {
    height: vw(750);
    padding-top: vw(8);

    .contact-cta__next {
      top: vw(-118);
      padding: vw(57) 0 0;
      font-size: vw(24);

      &::before,
      &::after {
        width: vw(2);
        height: vw(34);
        margin: 0 vw(16) vw(-9);
      }

      span {
        font-size: vw(32);
      }
    }

    .contact-cta__web {
      grid-template-columns: vw(126) 1fr vw(38);
      width: vw(620);
      height: vw(176);
      padding: 0 vw(35) vw(7) vw(22);
      border-radius: vw(92);
      box-shadow:
        0 vw(8) 0 #d24c00,
        0 vw(8) vw(15) rgba(0, 0, 0, 0.22);

      &:hover,
      &:active {
        transform: translateY(vw(8));
        box-shadow:
          0 0 0 #d24c00,
          0 vw(2) vw(8) rgba(0, 0, 0, 0.18);
      }

      span {
        width: vw(122);
        height: vw(122);
        font-size: vw(32);
      }

      strong {
        padding-left: vw(24);
        font-size: vw(40);
      }

      i {
        width: vw(27);
        height: vw(27);
        border-top-width: vw(4);
        border-right-width: vw(4);
      }
    }

    .contact-cta__phone {
      width: vw(620);
      min-height: vw(362);
      margin-top: vw(88);
      padding: vw(72) vw(38) vw(40);
      border-radius: vw(18);
      box-shadow: 0 vw(4) vw(14) rgba(0, 0, 0, 0.13);
    }

    .contact-cta__label {
      top: vw(-36);
      left: vw(35);
      width: vw(550);
      height: vw(70);
      border-radius: vw(35);
      font-size: vw(28);
    }

    .contact-cta__tel {
      gap: vw(8);

      strong {
        font-size: vw(64);
      }
    }

    .contact-cta__hint {
      margin-top: vw(5);
      font-size: vw(16);
    }

    .contact-cta__hours {
      gap: vw(6);
      margin-top: vw(36);

      dt {
        padding: vw(28);
        border-radius: vw(10);
        font-size: vw(24);
      }

      dd {
        font-size: vw(32);

        .flex {
          .r1 {
            font-size: vw(28);
          }

          .r2 {
            font-size: vw(18);
          }

          .time {
            font-size: vw(32);
          }
        }
      }
    }
  }
}

.profile {
  position: relative;
  z-index: 2;
  .bg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .profile__photo {
    position: relative;
    z-index: 2;
    img {
      width: auto;
    }
  }

  .profile__body {
    padding: 74px 39px 0;
  }

  .profile__lead {
    margin: 30px 0 80px;
    color: #000;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.75;
  }
  .profile-career {
    margin: 0;
    padding: 40px 73px 50px;
    background: #e3f4f1;
    border-radius: 18px;

    h3 {
      margin: 0 0 20px;
      color: #008684;
      font-size: 32px;
      font-weight: 600;
      line-height: 1.2;
    }

    dl {
      display: grid;
      gap: 18px;
      margin: 0;
    }

    div {
      display: grid;
      grid-template-columns: 146px 1fr;
      gap: 15px;
    }

    dt,
    dd {
      margin: 0;
      color: #333;
      font-size: 17px;
      font-weight: 500;
      line-height: 1.62;
    }

    dd {
      padding-left: 31px;
      border-left: 2px solid #c4ddd9;
    }

    @media (max-width: 780px) {
      padding: vw(49) vw(73) vw(47);
      border-radius: vw(18);

      h3 {
        margin-bottom: vw(26);
        font-size: vw(31);
      }

      dl {
        gap: vw(18);
      }

      div {
        grid-template-columns: vw(146) 1fr;
        gap: vw(31);
      }

      dt,
      dd {
        font-size: vw(17);
      }

      dd {
        padding-left: vw(31);
        border-left-width: vw(2);
      }
    }
  }

  .profile-youtube {
    margin: 80px auto 60px;
    text-align: center;
    position: relative;
    img {
      margin: 0 auto;
    }
    .countup {
      font-family: "avenir-lt-pro", sans-serif;
      font-size: 96px;
      font-weight: 800;
      position: absolute;
      top: 50px;
      left: 136px;
      letter-spacing: -3px;
      background: linear-gradient(180deg, #f7e070 0%, #c8900a 100%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;

      &::first-letter {
        letter-spacing: -12px;
      }
    }

    @media (max-width: 780px) {
      margin: vw(80) auto vw(60);
      width: vw(533);

      img { width: 100%; }

      .countup {
        font-size: vw(96);
        top: vw(50);
        left: vw(51.5);
        letter-spacing: vw(-3);

        &::first-letter {
          letter-spacing: vw(-12);
        }
      }
    }
  }

  .youtube-section {
    padding: 10px 40px 70px;
    .youtube-section__text {
      margin: 36px 0 0;
      color: #000;
      font-size: 28px;
      font-weight: 400;
      line-height: 1.4;

      em {
        color: #f06421;
        font-style: normal;
      }
    }

    @media (max-width: 780px) {
      padding: vw(10) vw(40) vw(70);

      .youtube-section__text {
        margin-top: vw(42);
        font-size: vw(28);
      }
    }
  }

  .youtube-card {
    position: relative;
    width: 700px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;

    iframe {
      width: 100%;
      height: 100%;
      border: none;
    }

    @media (max-width: 780px) {
      width: vw(700);
    }
  }

  @media (max-width: 780px) {
    .profile__body {
      padding: vw(74) vw(39) 0;
    }

    .profile__lead {
      margin: vw(30) 0 vw(80);
      font-size: vw(28);
    }
  }
}

.worry {
  position: relative;
  z-index: 3;
  isolation: isolate;
  margin-top: -68px;
  padding-top: 68px;
  padding-bottom: 90px;
  overflow: hidden;

  &::before {
    position: absolute;
    inset: 0;
    z-index: 0;
    content: "";
    background:
      linear-gradient(rgba(255, 255, 255, 0.34) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 0.34) 1px, transparent 1px), #cfd6dc;
    background-size: 34px 34px;
    -webkit-mask-image: radial-gradient(ellipse 460px 110px at 50% -6px, transparent 0 109px, #000 110px);
    mask-image: radial-gradient(ellipse 60% 100px at 50% -6px, transparent 100%, #001 110px);
    pointer-events: none;
  }

  .worry__triangles {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 90px;
    pointer-events: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 50%;
      height: 100%;
      background: #fff;
    }

    &::before {
      left: 0;
      clip-path: polygon(0 0, 100% 100%, 0 100%);
    }

    &::after {
      right: 0;
      clip-path: polygon(0 100%, 100% 0, 100% 100%);
    }
  }

  .worry__heading {
    position: relative;
    z-index: 1;
    text-align: center;

    p {
      position: relative;
      display: inline-grid;
      min-width: 250px;
      height: 55px;
      place-items: center;
      margin: 0 0 24px;
      color: #fff;
      background: #075bb5;
      border-radius: 28px;
      font-size: 32px;
      font-weight: 600;
      line-height: 1;

      &::after {
        position: absolute;
        bottom: -14px;
        left: 50%;
        width: 0;
        height: 0;
        content: "";
        border-top: 16px solid #075bb5;
        border-right: 9px solid transparent;
        border-left: 9px solid transparent;
        transform: translateX(-50%);
      }
    }

    h2 {
      margin: 0;
      color: #000;
      font-size: 56px;
      font-weight: 600;
      line-height: 1.55;
    }

    span {
      color: #005cb9;
    }
  }

  @media (max-width: 780px) {
    margin-top: vw(-68);
    padding-top: vw(68);
    padding-bottom: vw(90);

    &::before {
      background-size: vw(34) vw(34);
      -webkit-mask-image: radial-gradient(ellipse vw(460) vw(110) at 50% vw(-6), transparent 0 vw(109), #000 vw(110));
      mask-image: radial-gradient(ellipse 60% vw(100) at 50% vw(-6), transparent 100%, #001 vw(110));
    }

    .worry__triangles {
      height: vw(90);
    }

    .worry__heading {
      p {
        min-width: vw(250);
        height: vw(55);
        margin: 0 0 vw(24);
        border-radius: vw(28);
        font-size: vw(32);

        &::after {
          bottom: vw(-14);
          border-top-width: vw(16);
          border-right-width: vw(9);
          border-left-width: vw(9);
        }
      }

      h2 {
        font-size: vw(56);
      }
    }
  }
}

.worry-item {
  position: relative;
  z-index: 1;
  width: calc(100% - 80px);
  margin: 60px 40px 90px;
  .worry_img {
    width: 466px;
    height: auto;
  }
  .worry_txt {
    position: absolute;
    z-index: 3;
    margin: 0;
  }
  span {
    color: #005cb9;
  }
  &--left {
    .worry_txt {
      bottom: -30px;
      right: -12px;
      &.three {
        bottom: -60px;
      }
    }
  }

  &--right {
    .worry_img {
      margin: 0 0 0 auto;
    }
    .worry_txt {
      bottom: -30px;
      left: -12px;
      &.two {
        bottom: -64px;
        left: -24px;
      }
    }
  }

  @media (max-width: 780px) {
    width: calc(100% - vw(80));
    margin: vw(60) vw(40) vw(90);

    .worry_img {
      width: vw(466);
    }

    .worry_txt {
      img {
        width: vw(404);
      }
      &.two img {
        width: vw(423);
      }
    }

    &--left {
      .worry_txt {
        bottom: vw(-30);
        right: vw(-12);

        &.three {
          bottom: vw(-60);
        }
      }
    }

    &--right {
      .worry_txt {
        bottom: vw(-30);
        left: vw(-12);

        &.two {
          bottom: vw(-64);
          left: vw(-24);
        }
      }
    }
  }
}
.sec23 {
  position: relative;
  z-index: 4;
  margin-top: -100px;
  .bg {
    position: absolute;
    z-index: 0;
    top: 91px;
    left: 0;
  }
  .bg2 {
    position: absolute;
    z-index: 2;
    top: 11px;
    left: 0;
  }

  @media (max-width: 780px) {
    margin-top: vw(-100);
    .bg {
      top: vw(91);
    }
    .bg2 {
      top: vw(11);
    }
  }
}
.review {
  position: relative;
  padding-top: 96px;
  z-index: 3;

  .review__heading {
    position: relative;
    z-index: 1;
    padding: 0 60px 25px;
    text-align: center;

    p {
      margin: 0 0 5px;
      color: #333;
      font-size: 28px;
      font-weight: 600;
      line-height: 1.25;

      span {
        display: inline-grid;
        width: 66px;
        height: 66px;
        place-items: center;
        margin-right: 7px;
        color: #fff;
        background: #075bb5;
        border-radius: 50%;
        font-size: 32px;
        font-weight: 600;
        i {
          font-size: 40px;
          font-weight: 600;
          color: #fff;
          display: contents;
          font-family: "avenir-lt-pro", sans-serif;
        }
      }
    }

    h2 {
      margin: 0;
      color: #333;
      font-size: 48px;
      font-weight: 600;
      line-height: 1.62;
      span {
        font-size: 56px;
      }
      strong {
        display: inline-grid;
        place-items: center;
        padding: 15px 20px;
        margin: 0;
        color: #009f99;
        border: 4px solid #009f99;
        border-radius: 16px;
        font-size: 52px;
        line-height: 1;
      }
    }
  }

  .review__photo {
    width: 780px;
    height: auto;
  }

  .review__statement {
    position: relative;
    z-index: 2;
    width: 700px;
    margin: -55px auto 0;
    padding: 64px 42px 70px;
    background: #e4f7f4;
    border-radius: 30px;
    box-shadow: 0 6px 13px rgba(0, 0, 0, 0.14);
    color: #000;
    text-align: center;

    p {
      margin: 0 0 20px;
      font-size: 40px;
      font-weight: 500;
      line-height: 1.2;
    }

    strong,
    span {
      display: block;
      margin: 0 auto 10px;
      padding: 10px 10px;
      background: #fff;
      font-size: 32px;
      font-weight: 600;
      line-height: 1.35;
    }

    span {
      display: inline-block;
      margin-bottom: 0;
    }

    em {
      margin-left: 5px;
      font-style: normal;
      font-size: 32px;
      font-weight: 600;
    }

    b {
      display: block;
      margin-top: 30px;
      color: #008684;
      font-size: 56px;
      font-weight: 600;
      line-height: 1.35;
    }

    small {
      display: block;
      color: #000;
      font-size: 48px;
      font-weight: 500;
      line-height: 1.5;
    }
  }

  @media (max-width: 780px) {
    padding-top: vw(96);

    .review__heading {
      padding: 0 vw(60) vw(25);

      p {
        margin: 0 0 vw(5);
        font-size: vw(28);

        span {
          width: vw(66);
          height: vw(66);
          margin-right: vw(7);
          font-size: vw(32);

          i {
            font-size: vw(40);
          }
        }
      }

      h2 {
        font-size: vw(48);

        span {
          font-size: vw(56);
        }

        strong {
          padding: vw(15) vw(20);
          border-width: vw(4);
          border-radius: vw(16);
          font-size: vw(52);
        }
      }
    }

    .review__photo {
      width: 100%;
    }

    .review__statement {
      width: vw(700);
      margin-top: vw(-55);
      padding: vw(64) vw(42) vw(70);
      border-radius: vw(30);
      box-shadow: 0 vw(6) vw(13) rgba(0, 0, 0, 0.14);

      p {
        margin: 0 0 vw(20);
        font-size: vw(40);
      }

      strong,
      span {
        margin: 0 auto vw(10);
        padding: vw(10) vw(10);
        font-size: vw(32);
      }

      span {
        margin-bottom: 0;
      }

      em {
        margin-left: vw(5);
        font-size: vw(32);
      }

      b {
        margin-top: vw(30);
        font-size: vw(56);
      }

      small {
        font-size: vw(48);
      }
    }
  }
}

.features {
  position: relative;
  z-index: 3;
  padding: 130px 39px 52px;
  .features__label {
    position: relative;
    margin: 0 0 44px 60px;
    color: #008f89;
    font-size: 26px;
    font-weight: 800;
    line-height: 1;

    &::before {
      position: absolute;
      top: 50%;
      left: -62px;
      width: 51px;
      height: 2px;
      content: "";
      background: #66c8c4;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: -66px;
      width: 5px;
      height: 5px;
      content: "";
      background: #008f89;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }

  > h2 {
    margin: 0 0 80px;
  }

  @media (max-width: 780px) {
    padding: vw(130) vw(39) vw(52);

    .features__label {
      margin: 0 0 vw(44) vw(60);
      font-size: vw(26);

      &::before {
        left: vw(-62);
        width: vw(51);
        height: vw(2);
      }

      &::after {
        left: vw(-66);
        width: vw(5);
        height: vw(5);
      }
    }

    > h2 {
      margin: 0 0 vw(80);
    }
  }
}

.feature-card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.13);

  & + & {
    margin-top: 80px;
  }

  .feature-card__image {
    position: relative;

    img {
      width: 700px;
      height: auto;
    }

    p {
      position: absolute;
      top: 0;
      left: 0;
      width: 152px;
      height: 125px;
      margin: 0;
      padding: 20px 0 0 36px;
      color: #fff;
      background: #009b95;
      border-radius: 0 0 16px 0;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.2;

      span {
        display: block;
        color: #00b5ad;
        font-size: 66px;
        font-weight: 900;
        line-height: 0.9;
      }
    }
  }

  .feature-card__headline {
    position: relative;
    padding: 35px 20px 35px;
    background: #f1eee6;
    text-align: center;
    margin-top: -35px;

    h3 {
      margin: 0;
      color: #333;
      font-size: 40px;
      font-weight: 600;
      line-height: 1.45;

      span {
        color: #008684;
        font-size: 48px;
      }
    }
    i {
      position: absolute;
      z-index: 2;
      &.f_1 {
        top: 67px;
        right: -2px;
      }
      &.f_2 {
        top: -10px;
        left: -22px;
      }
      &.f_3 {
        top: -89px;
        right: -36px;
      }
    }
  }

  .feature-card__body {
    padding: 61px 41px 64px;

    p {
      margin: 0;
      font-size: 28px;
      font-weight: 500;
      line-height: 1.76;

      & + p {
        margin-top: 31px;
      }
    }

    em {
      color: #f6691a;
      font-style: normal;
    }
  }

  &--02,
  &--03 {
    .feature-card__headline {
      padding-top: 43px;
    }
  }

  &--02 {
    .feature-card__body {
      padding-top: 61px;
      padding-bottom: 66px;
    }
  }

  &--03 {
    background: #fff;

    .feature-card__body {
      padding-top: 56px;
      padding-bottom: 58px;
    }
  }

  @media (max-width: 780px) {
    border-radius: vw(20);

    & + & {
      margin-top: vw(80);
    }

    .feature-card__image {
      img {
        width: vw(700);
      }

      p {
        width: vw(152);
        height: vw(125);
        padding: vw(20) 0 0 vw(36);
        border-radius: 0 0 vw(16) 0;
        font-size: vw(18);

        span {
          font-size: vw(66);
        }
      }
    }

    .feature-card__headline {
      padding: vw(35) vw(20) vw(35);
      margin-top: vw(-35);

      h3 {
        font-size: vw(40);

        span {
          font-size: vw(48);
        }
      }

      i {
        &.f_1 {
          top: vw(67);
          right: vw(-2);
          img {
            width: vw(93);
          }
        }
        &.f_2 {
          top: vw(-10);
          left: vw(-22);
          img {
            width: vw(84);
          }
        }
        &.f_3 {
          top: vw(-89);
          right: vw(-36);
          img {
            width: vw(219);
          }
        }
      }
    }

    .feature-card__body {
      padding: vw(61) vw(41) vw(64);

      p {
        font-size: vw(28);

        & + p {
          margin-top: vw(31);
        }
      }
    }

    &--02,
    &--03 {
      .feature-card__headline {
        padding-top: vw(43);
      }
    }

    &--02 {
      .feature-card__body {
        padding-top: vw(61);
        padding-bottom: vw(66);
      }
    }

    &--03 {
      .feature-card__body {
        padding-top: vw(56);
        padding-bottom: vw(58);
      }
    }
  }
}

.reassurance {
  padding: 28px 39px 128px;
  text-align: center;
  position: relative;
  z-index: 3;

  h2 {
    margin: 0 0 130px;
    color: #000;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.4;

    span {
      color: #008684;
      font-size: 64px;
      font-weight: 700;
    }
    small {
      font-size: 32px;
      font-weight: 500;
      color: #000;
    }
  }

  .reassurance__lead {
    position: relative;
    display: inline-block;
    margin: 0 0 26px;
    color: #000;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.4;

    &::before,
    &::after {
      display: inline-block;
      width: 2px;
      height: 34px;
      margin: 0 16px -9px;
      content: "";
      background: #000;
    }

    &::before {
      transform: rotate(-28deg);
    }

    &::after {
      transform: rotate(28deg);
    }

    span {
      color: #f06421;
      font-size: 32px;
    }
  }

  .reassurance__web {
    margin-inline: auto;
  }

  .reassurance__phone {
    margin-top: 93px;
    text-align: left;
  }

  @media (max-width: 780px) {
    padding: vw(28) vw(39) vw(128);

    h2 {
      margin: 0 0 vw(130);
      font-size: vw(56);

      span {
        font-size: vw(64);
      }
      small {
        font-size: vw(32);
      }
    }

    .reassurance__lead {
      margin: 0 0 vw(26);
      font-size: vw(24);

      &::before,
      &::after {
        width: vw(2);
        height: vw(34);
        margin: 0 vw(16) vw(-9);
      }

      span {
        font-size: vw(32);
      }
    }

    .reassurance__phone {
      margin-top: vw(93);
    }
  }
}

.sec45 {
  position: relative;
  z-index: 5;
}

.immunotherapy {
  position: relative;
  padding: 0 39px 0;
  color: #fff;
  background: linear-gradient(180deg, #1ebfb6 0%, #008684 100%);
  text-align: center;
  z-index: 4;

  .immunotherapy__label {
    position: relative;
    z-index: 1;
    display: inline-grid;
    min-width: 250px;
    height: 55px;
    place-items: center;
    margin: 0 0 34px;
    color: #008684;
    background: #fff;
    border-radius: 28px;
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.22);
    font-size: 32px;
    font-weight: 700;
    line-height: 1;

    &::after {
      position: absolute;
      bottom: -14px;
      left: 50%;
      width: 0;
      height: 0;
      content: "";
      border-top: 16px solid #fff;
      border-right: 9px solid transparent;
      border-left: 9px solid transparent;
      transform: translateX(-50%);
    }
  }

  h2 {
    position: relative;
    z-index: 1;
    margin: 0;
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.35;

    span {
      color: #ffff32;
    }
  }

  .immunotherapy__panel {
    position: relative;
    z-index: 3;
    margin-top: 70px;
    padding: 60px 41px 146px;
    color: #000;
    text-align: center;

    &::after {
      content: none;
    }
    .imm_bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    p {
      margin: 0;
      font-size: 28px;
      font-weight: 500;
      line-height: 1.4;

      & + p {
        margin-top: 20px;
      }

      span {
        color: #f6691a;
      }
    }

    > strong {
      display: inline-block;
      margin: 10px 12px 0 0;
      padding: 8px 18px;
      color: #fff;
      background: #008684;
      border-radius: 4px;
      font-size: 28px;
      font-weight: 700;
      line-height: 1.4;
    }

    > span {
      font-size: 28px;
      font-weight: 500;
    }
  }

  .immunotherapy__venn {
    margin: 50px 0 40px;
  }

  @media (max-width: 780px) {
    padding: 0 vw(39) 0;

    .immunotherapy__label {
      min-width: vw(250);
      height: vw(55);
      margin: 0 0 vw(34);
      border-radius: vw(28);
      box-shadow: 0 vw(5) vw(13) rgba(0, 0, 0, 0.22);
      font-size: vw(32);

      &::after {
        bottom: vw(-14);
        border-top-width: vw(16);
        border-right-width: vw(9);
        border-left-width: vw(9);
      }
    }

    h2 {
      font-size: vw(56);
    }

    .immunotherapy__panel {
      margin-top: vw(70);
      padding: vw(60) vw(41) vw(146);

      p {
        font-size: vw(28);
        & + p {
          margin-top: vw(20);
        }
      }

      > strong {
        margin: vw(10) vw(12) 0 0;
        padding: vw(8) vw(18);
        border-radius: vw(4);
        font-size: vw(28);
      }

      > span {
        font-size: vw(28);
      }
    }

    .immunotherapy__venn {
      margin: vw(50) 0 vw(40);
      img {
        width: vw(620);
      }
    }
  }
}

.dendritic {
  color: #fff;
  position: relative;
  z-index: 2;
  background-color: #20c3ba;
  padding: 0 0 140px;
  .sec5_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .dendritic__hero {
    text-align: center;
    img {
      margin: 0 auto;
    }

    h2 {
      margin: 0 0 72px;
      color: #fff;
      font-size: 56px;
      font-weight: 700;
      line-height: 1.48;
      span {
        font-size: 80px;
        font-weight: 700;
        color: #fff;
      }
    }
  }

  .dendritic__body {
    padding: 60px 40px;
    margin: 60px 40px 0;
    color: #000;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;

    p {
      margin: 0;
      font-size: 28px;
      font-weight: 500;
      line-height: 1.78;

      & + p {
        margin-top: 20px;
      }
    }

    span {
      color: #008684;
      font-weight: 600;
    }
  }
  .sec5_img {
    position: absolute;
    bottom: -65px;
    right: 40px;
    z-index: 3;
  }

  @media (max-width: 780px) {
    padding: 0 0 vw(140);

    .dendritic__hero {
      img {
        width: vw(643);
      }

      h2 {
        margin: 0 0 vw(72);
        font-size: vw(56);

        span {
          font-size: vw(80);
        }
      }
    }

    .dendritic__body {
      padding: vw(60) vw(40);
      margin: vw(60) vw(40) 0;
      border-radius: vw(20);

      p {
        font-size: vw(28);
        & + p {
          margin-top: vw(20);
        }
      }
    }

    .sec5_img {
      bottom: vw(-65);
      right: vw(40);
      width: vw(332);
    }
  }
}

.points {
  position: relative;
  z-index: 5;
  padding: 100px 40px 100px;
  overflow: hidden;

  .bk {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  h2 {
    margin-bottom: 150px;
  }

  .point-card {
    position: relative;
    z-index: 1;
    margin: 0 -40px;

    > img {
      position: relative;
      z-index: 2;
      width: 504px;
    }

    .box {
      width: 760px;
      border-radius: 0 30px 30px 0;
      background: var(--green-3, #e5f6f5);
      mix-blend-mode: multiply;
      padding: 86px 60px 200px 80px;
      span {
        display: block;
        margin-bottom: 30px;
        color: #008684;
        font-family: "avenir-lt-pro", sans-serif;
        font-size: 100px;
        font-weight: 800;
        line-height: 1;
      }
      h3 {
        margin: 0 0 20px;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.5;

        small {
          font-size: 40px;
          font-family: "Noto Sans JP";
          font-weight: 300;
        }
      }
      p {
        margin: 0;
        color: #333;
        font-size: 28px;
        font-weight: 500;
        line-height: 1.5;
        em {
          color: #f6691a;
        }
      }
    }

    &--01 {
      > img {
        position: absolute;
        z-index: 3;
        top: -90px;
        right: 0;
      }

      .box {
        border-radius: 0 0 30px 30px;
      }
    }

    &--02 {
      text-align: right;
      margin-top: -40px;

      > img {
        margin-left: 0;
        position: absolute;
        top: -90px;
        left: 0;
      }

      .box {
        background-color: unset;
      }
    }

    &--03 {
      margin-top: -40px;
      > img {
        position: absolute;
        z-index: 3;
        top: -90px;
        right: 0;
      }

      .box {
        border-radius: 0 0 30px 30px;
        padding-bottom: 293px;
      }
    }
  }

  @media (max-width: 780px) {
    padding: vw(100) vw(40) vw(100);

    .bk {
      width: 100%;
    }

    h2 {
      margin-bottom: vw(150);
      img {
        width: vw(497);
      }
    }

    .point-card {
      margin: 0 vw(-40);

      > img {
        width: vw(504);
      }

      .box {
        width: vw(760);
        border-radius: 0 vw(30) vw(30) 0;
        padding: vw(86) vw(60) vw(200) vw(80);

        span {
          margin-bottom: vw(30);
          font-size: vw(100);
        }

        h3 {
          margin: 0 0 vw(20);
          font-size: vw(48);
          small {
            font-size: vw(40);
          }
        }

        p {
          font-size: vw(28);
        }
      }

      &--01 {
        > img {
          top: vw(-90);
        }
        .box {
          border-radius: 0 0 vw(30) vw(30);
        }
      }

      &--02 {
        margin-top: vw(-40);
        > img {
          top: vw(-90);
        }
      }

      &--03 {
        margin-top: vw(-40);
        > img {
          top: vw(-90);
        }
        .box {
          border-radius: 0 0 vw(30) vw(30);
          padding-bottom: vw(293);
        }
      }
    }
  }
}

.therapy-detail {
  margin-top: -230px;
  position: relative;
  z-index: 5;
  padding: 50px 40px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.15);

  h3 {
    margin: 0 0 30px;
    color: #008684;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
  }

  .therapy-detail__block {
    margin-top: 30px;
    h4 {
      margin: 0 0 14px;
      padding: 10px;
      color: #fff;
      background: #00a299;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.5;
    }

    p {
      margin: 0;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.4;
      &.sml {
        font-weight: 300;
      }
    }
  }

  @media (max-width: 780px) {
    margin-top: vw(-230);
    padding: vw(50) vw(40);
    border-radius: vw(20);
    box-shadow: vw(2) vw(2) vw(10) 0 rgba(0, 0, 0, 0.15);

    h3 {
      margin: 0 0 vw(30);
      font-size: vw(28);
    }

    .therapy-detail__block {
      margin-top: vw(30);

      h4 {
        margin: 0 0 vw(14);
        padding: vw(10);
        font-size: vw(20);
      }

      p {
        font-size: vw(18);
      }
    }
  }
}

.price {
  position: relative;
  z-index: 6;
  min-height: 4116px;
  padding: 40px 0 80px;
  overflow: hidden;
  background: #fff;

  .price__bg {
    position: absolute;
    inset: 0 0 auto;
    z-index: -1;

    img {
      width: 780px;
      height: auto;
    }
  }

  .sec7_bg2 {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  .price__title {
    margin: 0 auto 30px;
    color: #008684;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
  }
  .price-consult {
    position: relative;
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    width: 620px;
    height: 128px;
    margin: 0 auto 60px;
    background: #fff;
    border-radius: 0 20px 20px 0;

    .price-consult__icon {
      position: absolute;
      top: -47px;
      left: -25px;
      width: 50px;
      z-index: 3;
      &.icon2 {
        top: 40px;
        right: -33px;
        left: auto;
        width: 103px;
      }
    }

    .price-consult__label {
      position: relative;
      display: grid;
      height: 128px;
      place-items: center;
      color: #fff;
      background: linear-gradient(90deg, #008684 0%, #12c4ba 100%);
      border-radius: 20px 0 0 20px;
      font-size: 40px;
      font-weight: 700;

      &::after {
        position: absolute;
        top: 0;
        right: -35px;
        width: 0;
        height: 0;
        content: "";
        border-top: 64px solid transparent;
        border-bottom: 64px solid transparent;
        border-left: 35px solid #12c4ba;
      }
    }

    .price-consult__fee {
      display: flex;
      align-items: baseline;
      justify-content: center;
      gap: 2px;
      color: #f6691a;

      strong {
        color: #f6691a;
        font-size: 80px;
        line-height: 1;
        font-weight: 800;
        font-family: "avenir-lt-pro", sans-serif;
      }
      span {
        color: #f6691a;
        font-size: 40px;
        font-weight: 700;
      }
    }
  }
  .price-example {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 544px;
    margin: 0 auto 30px;

    span {
      font-size: 28px;
      font-weight: 500;
      color: #fff;
      line-height: 1.5;
      padding: 5px 15px;
      background: #747474;
      border-radius: 100px;
    }
    p {
      font-size: 28px;
      font-weight: 500;
      line-height: 1.5;
    }
  }
  .price-table-wrap {
    width: 700px;
    height: 1302px;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
    border: 4px solid #008f89;
    border-radius: 20px;
    .price-table {
      width: 100%;
      height: 100%;
      border-collapse: collapse;
      table-layout: fixed;
      th,
      td {
        width: 50%;
        border-right: 1px solid #747474;
        border-bottom: 1px solid #747474;
        text-align: center;
        vertical-align: middle;
        &:last-child {
          border-right: 0;
        }
      }
      th {
        height: 70px;
        color: #008684;
        background: #dff3f1;
        font-size: 24px;
        font-weight: 500;
        &:last-child {
          color: #fff;
          background: #00a299;
        }
        small {
          font-size: 18px;
          color: #fff;
          font-weight: 500;
        }
      }
      td {
        height: 140px;
        padding: 16px 20px;
        color: #000;
        font-size: 36px;
        font-weight: 500;
        line-height: 1.28;
      }
      strong {
        font-size: 28px;
        font-weight: 500;
      }
      small {
        font-size: 20px;
        font-weight: 500;
      }
      em {
        display: block;
        margin-top: 7px;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.35;
        &.tleft {
          text-align: left;
          margin-left: 20px;
        }
      }
      tbody tr:nth-child(3) td {
        height: 160px;
      }
      .price-table__total td {
        height: 168px;
        border-top: 4px solid #808080;
        border-bottom: 0;
        font-weight: 800;
        &:first-child {
          color: #008684;
          font-size: 32px;
        }
        &:last-child {
          color: #f6691a;
          font-size: 40px;
          line-height: 1.25;
        }
        small {
          color: #f6691a;
          font-weight: 700;
        }
      }
    }
  }
  .price-notes {
    margin: 20px 40px 0;
    padding: 0;
    color: #6a6a6a;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    list-style: none;
    white-space: nowrap;
  }
  .price-support {
    margin: 80px 40px 0;
    padding: 60px 40px;
    border-radius: 20px;
    background: rgba(246, 242, 233, 0.6);
    backdrop-filter: blur(5px);
    position: relative;
    h3 {
      margin-bottom: 20px;
      color: #008684;
      font-size: 56px;
      font-weight: 800;
      line-height: 1.5;
      font-family: "avenir-lt-pro", sans-serif;
      small {
        font-size: 48px;
        font-weight: 500;
      }
    }
    .price-support__card {
      position: relative;
      width: 620px;
      margin: 70px 0 0;
      padding: 40px;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 6px 18px rgba(0, 0, 0, 0.16);
      .circle {
        width: 84px;
        height: 84px;
        background: #fff;
        position: absolute;
        top: -42px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 50%;
        img {
          position: absolute;
          inset: 0;
          margin: auto;
        }
      }
      p {
        margin: 0;
        color: #000;
        font-size: 32px;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
        span {
          color: #f6691a;
          font-weight: 700;
        }
      }
    }
  }

  .price-closing {
    margin-top: 60px;
    text-align: center;
    p {
      margin: 0;
    }
    .price-closing__lead {
      color: #8a7f63;
      font-size: 32px;
      font-weight: 800;
      line-height: 1.5;
    }
    img {
      width: 328px;
      margin: 0 auto 28px;
    }
    .price-closing__copy {
      font-size: 40px;
      font-weight: 700;
      line-height: 1.5;
      span {
        color: #008684;
        font-size: 48px;
      }
    }
    .price-closing__next {
      display: grid;
      width: 556px;
      height: 98px;
      place-items: center;
      margin: 8px auto;
      color: #008684;
      background: #fff;
      border: 4px solid #008684;
      border-radius: 20px;
      font-size: 56px;
      font-weight: 700;
      line-height: 1;
    }
    .price-closing__select {
      color: #000;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 130px;
    }
  }
  .contact-cta {
    height: auto;
  }

  @media (max-width: 780px) {
    min-height: vw(4116);
    padding: vw(40) 0 vw(80);

    .price__bg img {
      width: 100%;
    }

    .price__title {
      margin: 0 auto vw(30);
      font-size: vw(56);
    }

    .price-consult {
      grid-template-columns: vw(300) 1fr;
      width: vw(620);
      height: vw(128);
      margin: 0 auto vw(60);
      border-radius: 0 vw(20) vw(20) 0;

      .price-consult__icon {
        top: vw(-47);
        left: vw(-25);
        width: vw(50);
        &.icon2 {
          top: vw(40);
          right: vw(-33);
          width: vw(103);
        }
      }

      .price-consult__label {
        height: vw(128);
        border-radius: vw(20) 0 0 vw(20);
        font-size: vw(40);
        &::after {
          right: vw(-35);
          border-top-width: vw(64);
          border-bottom-width: vw(64);
          border-left-width: vw(35);
        }
      }

      .price-consult__fee {
        gap: vw(2);
        strong {
          font-size: vw(80);
        }
        span {
          font-size: vw(40);
        }
      }
    }

    .price-example {
      gap: vw(10);
      width: vw(544);
      margin: 0 auto vw(30);
      span {
        font-size: vw(28);
        padding: vw(5) vw(15);
        border-radius: vw(100);
      }
      p {
        font-size: vw(28);
      }
    }

    .price-table-wrap {
      width: vw(700);
      height: vw(1302);
      border-width: vw(4);
      border-radius: vw(20);

      .price-table {
        th {
          height: vw(70);
          font-size: vw(24);
          small {
            font-size: vw(18);
          }
        }

        td {
          height: vw(140);
          padding: vw(16) vw(20);
          font-size: vw(36);
        }

        strong {
          font-size: vw(28);
        }
        small {
          font-size: vw(20);
        }

        em {
          margin-top: vw(7);
          font-size: vw(18);
          &.tleft {
            margin-left: vw(20);
          }
        }

        tbody tr:nth-child(3) td {
          height: vw(160);
        }

        .price-table__total td {
          height: vw(168);
          border-top-width: vw(4);
          &:first-child {
            font-size: vw(32);
          }
          &:last-child {
            font-size: vw(40);
          }
        }
      }
    }

    .price-notes {
      margin: vw(20) vw(40) 0;
      font-size: vw(16);
    }

    .price-support {
      margin: vw(80) vw(40) 0;
      padding: vw(60) vw(40);
      border-radius: vw(20);

      h3 {
        margin-bottom: vw(20);
        font-size: vw(56);
        small {
          font-size: vw(48);
        }
      }

      .price-support__card {
        width: vw(620);
        margin: vw(70) 0 0;
        padding: vw(40);
        border-radius: vw(20);
        box-shadow: 0 vw(6) vw(18) rgba(0, 0, 0, 0.16);

        .circle {
          width: vw(84);
          height: vw(84);
          top: vw(-42);
        }

        p {
          font-size: vw(32);
        }
      }
    }

    .price-closing {
      margin-top: vw(60);

      .price-closing__lead {
        font-size: vw(32);
      }

      img {
        width: vw(328);
        margin: 0 auto vw(28);
      }

      .price-closing__copy {
        font-size: vw(40);
        span {
          font-size: vw(48);
        }
      }

      .price-closing__next {
        width: vw(556);
        height: vw(98);
        margin: vw(8) auto;
        border-width: vw(4);
        border-radius: vw(20);
        font-size: vw(56);
      }

      .price-closing__select {
        font-size: vw(40);
        margin-bottom: vw(130);
      }
    }
  }
}

.step {
  margin-top: 20px;
  position: relative;
  z-index: 2;
  padding-bottom: 100px;
  &:before {
    position: absolute;
    inset: 0;
    top: 50px;
    z-index: -1;
    content: "";
    background:
      linear-gradient(#e5f6f5 1px, transparent 1px), linear-gradient(90deg, #e5f6f5 1px, transparent 1px), #fff;
    background-size: 34px 34px;
  }
  .step-area {
    display: flex;
    flex-direction: column;
    .box {
      display: flex;
      gap: 20px;
      align-items: center;
      margin: 0 40px;
      border-bottom: 1px solid #008684;
      padding: 78px 0;
      &:last-child {
        border: unset;
      }
      .img {
        width: 230px;
      }
      .txt {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: calc(100% - 250px);
        h3 {
          font-size: 32px;
          font-weight: 600;
          color: #008684;
        }
        p {
          font-size: 28px;
          font-weight: 500;
        }
      }
    }
  }
  .qa-area {
    margin: 90px 40px;
    h2.qa {
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 1.68px;
      text-align: center;
      span {
        display: block;
        font-size: 26px;
        font-style: normal;
        font-weight: 800;
        color: #008684;
        letter-spacing: 0.78px;
        font-family: "avenir-lt-pro", sans-serif;
      }
    }
    .qa_box {
      display: flex;
      flex-direction: column;
      gap: 30px;
      margin-top: 40px;
      dl {
        overflow: hidden;
        background: #fff;
        border: 4px solid #008684;
        border-radius: 30px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
        transition: box-shadow 0.3s ease;
        &.is-open {
          .border {
            .b2 {
              opacity: 0;
              transform: translate(-50%, -50%) rotate(90deg);
            }
          }
          dd {
            max-height: 420px;
            padding-top: 30px;
            padding-bottom: 30px;
            opacity: 1;
          }
        }
      }
      dt,
      dd {
        display: flex;
        align-items: center;
        gap: 20px;
      }
      dt {
        cursor: pointer;
        justify-content: space-between;
        padding: 30px 40px;
        user-select: none;
        &:focus-visible {
          outline: 4px solid #f6691a;
          outline-offset: -8px;
        }
        > p {
          flex: 1;
        }
      }
      dd {
        max-height: 0;
        padding: 0 40px;
        border-top: 1px solid #c9c9c9;
        opacity: 0;
        overflow: hidden;
        transition:
          max-height 0.45s ease,
          padding 0.45s ease,
          opacity 0.3s ease;
      }
      i {
        display: block;
        flex: 0 0 auto;
        width: 40px;
        color: #008684;
        font-family: "avenir-lt-pro", sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 800;
        line-height: 1;
      }
      dd i {
        color: #f6691a;
      }
      p {
        margin: 0;
        color: #030303;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5;
      }
      .border {
        position: relative;
        flex: 0 0 20px;
        width: 20px;
        height: 20px;
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          display: block;
          width: 20px;
          height: 3px;
          background: #333;
          transform: translate(-50%, -50%);
          transition:
            opacity 0.3s ease,
            transform 0.3s ease;
        }
        .b2 {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }
  }

  @media (max-width: 780px) {
    margin-top: vw(20);
    padding-bottom: vw(100);

    &::before {
      background-size: vw(34) vw(34);
    }

    .step-area {
      .box {
        gap: vw(20);
        margin: 0 vw(40);
        padding: vw(78) 0;
        .img {
          width: vw(230);
        }
        .txt {
          gap: vw(20);
          width: calc(100% - vw(250));
          h3 {
            font-size: vw(32);
          }
          p {
            font-size: vw(28);
          }
        }
      }
    }

    .qa-area {
      margin: vw(90) vw(40);

      h2.qa {
        font-size: vw(56);
        letter-spacing: vw(1.68);
        span {
          font-size: vw(26);
          letter-spacing: vw(0.78);
        }
      }

      .qa_box {
        gap: vw(30);
        margin-top: vw(40);

        dl {
          border-width: vw(4);
          border-radius: vw(30);
          box-shadow: vw(2) vw(2) vw(10) rgba(0, 0, 0, 0.15);

          &.is-open dd {
            max-height: vw(420);
            padding-top: vw(30);
            padding-bottom: vw(30);
          }
        }

        dt,
        dd {
          gap: vw(20);
        }

        dt {
          padding: vw(30) vw(40);
          &:focus-visible {
            outline-width: vw(4);
            outline-offset: vw(-8);
          }
        }

        dd {
          padding: 0 vw(40);
        }

        i {
          width: vw(40);
          font-size: vw(50);
        }

        p {
          font-size: vw(24);
        }

        .border {
          flex: 0 0 vw(20);
          width: vw(20);
          height: vw(20);
          span {
            width: vw(20);
            height: vw(3);
          }
        }
      }
    }
  }
}

.info {
  padding: 80px 40px 0;
  background-color: #f1f8f8;
  border-radius: 80px 80px 0 0;
  margin-top: -80px;
  position: relative;
  z-index: 5;
  h2.if {
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.68px;
    text-align: center;
    margin-bottom: 40px;
    span {
      display: block;
      font-size: 26px;
      font-style: normal;
      font-weight: 800;
      color: #008684;
      letter-spacing: 0.78px;
      font-family: "avenir-lt-pro", sans-serif;
    }
  }
  .if_area {
    position: relative;
    z-index: 3;
    padding-bottom: 100px;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -40px;
      width: calc(100% + 80px);
      height: 80%;
      background-color: #008684;
      z-index: -1;
    }
    .googlemap {
      width: 100%;
      height: 350px;
      border-radius: 20px;
      overflow: hidden;
      iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .if_box {
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-top: 50px;
      dl {
        display: flex;
        gap: 30px;
        align-items: center;
        dt {
          width: 145px;
          padding: 36px 0;
          background: #e5f6f5;
          border-radius: 10px;
          color: #008684;
          font-size: 24px;
          font-weight: 600;
          text-align: center;
        }
        dd {
          font-size: 24px;
          color: #fff;
          font-weight: 500;
        }
      }
    }
  }

  @media (max-width: 780px) {
    padding: vw(80) vw(40) 0;
    border-radius: vw(80) vw(80) 0 0;
    margin-top: vw(-80);

    h2.if {
      font-size: vw(56);
      letter-spacing: vw(1.68);
      margin-bottom: vw(40);
      span {
        font-size: vw(26);
        letter-spacing: vw(0.78);
      }
    }

    .if_area {
      padding-bottom: vw(100);
      &::before {
        left: vw(-40);
        width: calc(100% + vw(80));
      }
      .googlemap {
        height: vw(350);
        border-radius: vw(20);
      }
      .if_box {
        gap: vw(40);
        margin-top: vw(50);
        dl {
          gap: vw(30);
          dt {
            width: vw(145);
            padding: vw(36) 0;
            border-radius: vw(10);
            font-size: vw(24);
          }
          dd {
            font-size: vw(24);
          }
        }
      }
    }
  }
}

footer {
  margin: 0 auto;
  text-align: center;
  padding: 60px 40px 120px;
  img {
    margin: 0 auto 20px;
  }

  @media (max-width: 780px) {
    padding: vw(60) vw(40) vw(120);
    img {
      margin: 0 auto vw(20);
    }
  }
}

.floatcta {
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  padding: 15px 0;
  max-width: 780px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 340px;
    height: 96px;
    border: 4px solid #fff;
    border-radius: 100px;
    opacity: 1;
    transition: 0.5s;
    text-decoration: none;
    &:first-child {
      background: linear-gradient(270deg, #008685 0%, #00c2b7 100%), #00a299;
    }
    &:last-child {
      background: linear-gradient(90deg, #ffa52d 0%, #f6581a 100%), #008684;
    }
    p {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      color: #fff;
    }
    &:hover,
    &:active {
      opacity: 0.6;
    }
  }

  @media (max-width: 780px) {
    padding: vw(15) 0;
    gap: vw(16);
    a {
      width: vw(340);
      height: vw(96);
      border-width: vw(4);
      border-radius: vw(100);
      gap: vw(20);
      svg {
        flex-shrink: 0;
        width: auto;
        height: vw(32);
        &:last-child {
          height: vw(25);
        }
      }
      p {
        font-size: vw(24);
      }
    }
  }
}

.fadein {
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 500ms;
}

.fadein-up {
  transform: translate(0, 100px);
}

.fadein-down {
  transform: translate(0, -100px);
}

.fadein-left {
  transform: translate(-100px, 0);
}

.fadein-right {
  transform: translate(50px, 0);
}

.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}
